@inject IRepository<Product> ProductRepo
@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<select asp-items="Model.Categories">
    <option value="value">Choose</option>
</select>
<select asp-items="Model.Brands">
    <option value="value">Choose</option>
</select>
@foreach(var item in Model.Products)
{
    <div>
        @item.Name
    </div>
}
<ul>
    @foreach(var item in await ProductRepo.GetAllAsync())
    {
        <li>@item.Name @item.Price.ToString("c2")</li>
    }
</ul>