@model BasketViewModel

<ul class="navbar-nav">
    <li class="nav-item">
        <a asp-area="" asp-action="Index" asp-controller="Basket" class="nav-link text-dark">
            Basket
            <span data-total-items class="badge bg-success">@Model.TotalItems</span>
        </a>
    </li>
</ul>